:root{
    --gris-claro: #ebebeb;
    --gris-oscuro: #666;
    --verde: #39b54a;
    --azul-oscuro: #03264C;
    --azul: #1259c3;
    --amarillo: #eac926;
}

* {
    font-family: 'Roboto';
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:#eac926;
    padding:0.5em 1.5em;
    box-sizing: content-box;
}

body{    
    background-color: gainsboro;
}

main{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6{
    color:var(--gris-oscuro);
    margin: 1em 0;
    font-weight: 800;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 24px;
}

main section{
    margin: 1rem 0 3rem;
}

main section article{
    background-color: white;
    margin-bottom: 10px;
}

main section article img{
    flex-grow: 1;
    display:block;
    max-width: 100%;
    padding: 5px;
    margin: auto;
}

/* Logo del delivery */
main section article i{
    display: block;
    width: 30px;
    height: 30px;
    padding:5px;
    color: #39b54a;
    background-color: #FFF;
    border: solid 1px #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}


a{
    text-decoration: none;
    font-weight: 600;
    color: #03264C;
    transition: all 0.2s;
}

a:hover{
    color:#1259c3;
}

p{
    font-size: 12px;
}

ul{
    list-style: none;
    padding: 0;
}

button{
    border: solid 1px #0000;
}

button:hover{
    cursor: pointer;    
}

footer{
    padding-top: 1em;
    background-color: white;
    color: #666;
    margin: auto;
    text-align: center;
}

footer section{
    margin: 3em 3em;
}

footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3;
    transition: all .3s;
}

footer i:hover{
    color:#666;
}

footer h3{
    margin: 0;
}

footer .info{    
    display:flex;
    flex-direction: column;
}

footer .copyright{
    margin:0;
    padding: 1.5em;
    text-align:left;
}

.seccion-tienda,
.seccion-usuario{
    margin: 1em 0;
}

.logo{
    width: 50%;
    margin: 20px 20px 20px 0;
}

.busqueda{
    width:50%;
    display: flex;
}

.busqueda input{
    width: 100%;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 0.5rem;
}

.busqueda input:focus{
    outline: none;
}

.busqueda button{
    background-color: #FFF;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0.5rem;
    color: #666;
}

.busqueda button:hover{
    cursor: pointer;
}

.busqueda button:active{
    background-color: #ebebeb;
    cursor: pointer;
}

.logo-y-busqueda{
    display:flex;
    align-items: center;
}

.navbar nav{
    display:none;
}

.burger-menu{
    display: block;
    font-size: 2em;
    background-color: #1259c3;
    color:white;
    border:none;
    border-radius: 5px;
    margin: .6em auto;
    padding:5px 11px;
}

.burger-menu:active{
    background-color:#03264C;
}

.promo img{
    width: 100%;
}

.promo .promo-pc{
    display:none;
}

.ultima-visita,
.on-sale{
    display:flex;
}

.info-compra{
    margin: 1em 0;
}

.article-info{
    justify-content: space-between;
    position: relative;
    border-top:solid 1px #ebebeb;
    padding:15px;
    flex-grow: 1;
}

.article-info .precio{
    display: flex;
}

.precioTotal{
    font-size:18px;
    margin: 0;
    flex-grow: 0.1;
    align-self: flex-end;
}

.descuento{
    color:#5fcd1a;
    margin: 0;
    flex-grow: 0.9;
    align-self: flex-end;
    font-size: 14px;
}

.descripcion{
    display:none;
    margin-top: 1em;
    color: #666;
}

.info-compra{
    text-align: center;
    margin: 1em auto;
}

.texto-centrado{
    text-align: center;
}

/* Code Review, primera parte */
@media (min-width: 768px){
    .logo{
        width:25%
    }

    .busqueda{
        margin: auto;
    }

    main section{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main section article{
        margin: 1rem;
        width: 40%;
    }
    .navbar nav{
        display:flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .navbar nav .seccion-tienda{
        display: flex;
        justify-content: space-around;
    }
    .navbar nav .seccion-tienda li{
        margin: 0 5px;
        padding: 0 5px;
    }
    .navbar nav .seccion-usuario{
        display:flex;
    }
    .navbar nav .seccion-usuario li{
        margin: 0 5px;
        padding: 0 5px;
    }
    .encabezado{
        display:flex;
        align-items: center;
    }
    .logo-y-busqueda{
        flex-grow: 0.9;
    }
    .info-compra{
        flex-grow: 0.1;
    }
    .burger-menu{
        display:none;
    }
}

@media(min-width:768px){
    footer .info{
        flex-direction: row;
    }
    .descripcion{
        display:block;
    }
}

@media (min-width: 1200px){    
    main section article{
        margin: 1rem;
        width: 20%;
        transition: all 0.3s;
    }
    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        cursor: pointer;
    }

    main section article i{
        transition: all .3s;
    }

    main section article:hover i{
        transform: rotateZ(-90deg);
    }

    .descripcion{
        color:#0000;
        transition: all .3s;
    }

    main section article:hover .descripcion{
        color:#666
    }

    .promo .promo-mobile{
        display:none;
    }

    .promo .promo-pc{
        display:block;
    }
}

@media (min-width: 1920px){
}