<%- include('./partials/head') %>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <h1 class="texto-centrado">Iniciá Sesión</h1>
        <form action="" method="post">
            <fieldset>
                <legend>Ingresá tus datos</legend>
                <div>
                    <label for="nombreUsuario">Nombre de usuario</label>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" required>
                </div>
                <div>
                    <label for="password">Contraseña</label>
                    <input type="text" name="password" id="password" required>
                </div>   
                <div class="inline">
                    <input type="checkbox" name="recordarDatos" id="recordarDatos" value="recordarDatos">
                    <label for="recordarDatos">Recordar mis datos</label>
                </div>

            </fieldset>
                       
                
            <div class="inline-centered buttons">
                <button type="submit">Iniciar Sesión</button>
            </div>
        </form>
    </main>
    
    <<%- include('./partials/footer') %>

</body>
</html>