<%- include('./partials/head') %>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <h1 class="texto-centrado">Registrate</h1>
        <form action="" method="post">
            <fieldset>
                <legend>Información Personal</legend>
                <div>
                    <label for="nombre">Nombre Completo</label>
                    <input type="text" name="nombre" id="nombre" required>
                </div>
                
                <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" required>
                </div>

                <div>
                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                    <input type="date" name="fechaNacimiento" id="fechaNacimiento" min="1900-01-01" max="2100-12-31" required>
                </div>
                <div>
                    <label for="domicilio">Domicilio</label>
                    <input type="text" name="domicilio" id="domicilio" minlength="5" required>
                </div>
            </fieldset>
            <fieldset class="last-fieldset">
                <legend>Datos de Usuario</legend>

                <div>
                    <label for="nombreUsuario">Nombre de Usuario</label>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" minlength="5" required>
                </div>

                <div>
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" minlength="8" autocomplete="off" required>
                </div>

                <div>
                    <label for="confirmarPassword">Confirmar contraseña</label>
                    <input type="password" name="confirmarPassword" id="confirmarPassword" minlength="8" autocomplete="off" required>
                </div>

                <div>
                    <label for="fotoDePerfil">Foto de Perfil</label>
                    <input type="file" name="fotoDePerfil" id="fotoDePerfil" accept="image/jpg, image/jpeg, image/png, image/webp, image/bmp">
                </div>

                <div>
                    <label for="tipoDeUsuario">Tipo de Usuario</label>
                    <div class="inline-centered">
                        <div class="inline">
                            <input type="radio" name="tipoDeUsuario" id="comprador" value="comprador" checked>
                            <label class="small" for="comprador">Comprador</label>                        
                        </div>
                        <div class="inline">
                            <input type="radio" name="tipoDeUsuario" id="vendedor" value="vendedor">
                            <label class="small" for="vendedor">Vendedor</label>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="intereses">Categorías de Interés</label>
                    <p class="small"><i>Puede elegir más de una</i></p>
                    <div class="inline">
                        <input type="checkbox" name="intereses" id="electro" value="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div class="inline">
                        <input type="checkbox" name="intereses" id="moda" value="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div class="inline">
                        <input type="checkbox" name="intereses" id="hogar" value="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div class="inline">
                        <input type="checkbox" name="intereses" id="juguetes" value="juguetes">
                        <label for="juguetes">Juguetería</label>
                    </div>
                    <div class="inline">
                        <input type="checkbox" name="intereses" id="vidaSana" value="vidaSana">
                        <label for="vidaSana">Vida Sana</label>
                    </div>
                </div>
                
                <div class="inline-centered buttons">
                    <button type="submit">Crear Cuenta</button>
                    <button type="reset">Limpiar Datos</button>
                </div>
            </fieldset>
        </form>
    </main>

    <<%- include('./partials/footer') %>

</body>
</html>